<p>KnowledgeWeb will remember things that your character knows so that you don't have to.</p>
<p>Sign in so that we can keep peoples facts separate from each other, then add facts to your data store and create relationships between them. You can then query relationships and transitive relationships between facts and explore through your web of knowledge to find out how things are linked. </p>
